body{
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    background-color: black;
}
#container{
    width: 1000px;
    height: 555px;
    background-color: rebeccapurple;
    margin: 20px auto;
}
#calculator{
    width: 320px;
    height: 520px;
    background-color:oldlace;
    margin: 0 auto;
    position: relative;
    top:20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
    height: 120px;
}
#keyboard{
    height: 400px;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 20px;
    color: rgba(0,0,0,0.7);
}
#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 45px;
    font-family: "Karla";
    letter-spacing: 2px;
}
.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border: 0;
    font-weight: 700;
    font-size: 18px;
}
.number, .empty{
    background-color: inherit;
}
.operator:active, .number:active{
    font-size: 15px;
    animation-name: fillOut;
    animation-duration: 300ms;
}
@keyframes fillOut{
    0%{
        background-color: rgba(0, 0, 0, 0.4);    
    }
    100%{
        background-color: rgba(0, 0, 0, 0);
    }
}
.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}
button:nth-child(4){
    font-size: 20px;
    background-color:burlywood;
}
button:nth-child(8){
    font-size: 20px;
    background-color:orchid;
}
button:nth-child(12){
    font-size: 20px;
    background-color:orange;
}

button:nth-child(16){
    font-size: 20px;
    background-color:tomato;
}
button:nth-child(20){
    font-size: 20px;
    background-color: black;
    color: white;
}
